body {
    background-color: #000;
    color: seashell;
    opacity: 0.9;
    font-family: Helvetica, sans-serif;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    height: 69px;
    border-bottom: 1px solid seashell;
    position: fixed;
    top: 0px;
    left: 5px;
    right: 5px;
    z-index: 1;
    background-color: #000;
}

.nav {
    padding-left: 20px;
    font-size: 22px;
    color: seashell;
}

.logo {
    margin-right: auto;
    margin-left: 10px;
    opacity: 0.9;
}

.header {
    background-image: url(mission-background.webp);
    height: 700px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 70px;
}

.centralrow {
    background-color: #000;
    width: 100%;
    text-align: center;
}

.month {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.h-month {
    padding-top: 50px;
    text-align: center;
}

.tea-types {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.tea {
    font-size: 16px;
}

figure {
    margin: 15px;
}

.locations {
    background-image: url(locations-background.jpg);
    width: 1200px;
    height: 500px;
    padding-top: 40px;
    text-align: center;
    margin: 0 auto;
}

.locations-boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.blackbox {
    width: 300px;
    height: 300px;
    background-color: #000;
    text-align: center;
    line-height: 50px;
}

footer {
    text-align: center;
    height: 200px;
    line-height: 30px;
    margin: 0 auto;
}

.f-left {
    text-align: left;
    padding-top: 30px;
    margin-left: 20px;
}

h2, h3, h4, h5, p {
    opacity: 0.9;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

@media all and (max-width:800px) {

    .navbar {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        height: 280px;
        width: 100%;
    }

    .header {
        width: 100%;
        margin-top: 281px;
    }

    .month {
        width: 100%;
        margin: 0 auto;
    }

    .locations {
        max-width: 100%;
        height: 100%;
        padding: 20px 0;
    }

    .locations-boxes {
        flex-direction: column;
    }

    .loc {
        color: #000000;
    }

    .blackbox {
        width: 250px;
        height: 200px;
        line-height: 20px;
        font-size: 18px;
        margin: 10px;
    }

    footer {
        width: 100%;
    }

    h2 {
        font-size: 25px;
    }
        
    h3, h4 {
        font-size: 20px;
    }
}
